body {
  background-color: #f4f5f7;
  color: #111111;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

button,
input {
  font-family: inherit;
}
